/*style for header*/

header h1 {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #E0115F;
    border-radius: 20%;
}

#hero-div {
    height: 220px;
    background-color: #E0115F;
    margin-bottom: 5%;
    
}

#hero-image {
    height: 100%;
    background-size: cover;
    align-content: center;
    background-repeat: no-repeat;
}

/*navigation links*/

#menu {
    
    text-align: center;
    margin: 0;
    padding-left: 0;
    background-color: greenyellow;
    color: #6338a3;
}

#menu a:hover {
    color: #E0115F;
}

#menu li a:hover {
    border-bottom: 1px solid #E0115F;
}

#menu li {
    display: inline;
}

#li-2 {
    margin: 4% 20% 0
}

/*style for main content*/

.main-content {
    height:500px;
    width: 30%;
    background-color: none;
    margin: 0 1.5%;
    float: left;
    text-align: center;
}

.image {
    width: 100%;
    height:100%;
    background-size: cover;
    align-content: center;
    background-repeat: no-repeat;
    border-radius: 30%;
}

/*footer*/

footer {
    padding-top: 5%;
    margin-top: 5%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    padding: 5%;
    display: inline;
}

